@import 'mixins/rem';
$color-dark-grey: #3d4a5d;
footer {
  @include rem(font-size, 12px);
  color: $color-light-grey;
  background: $color-dark-grey;
  text-align: center;
  height: 64px;
  line-height: 64px;
}
