.testimonial {
  position: relative;
  background: #f5f8fb;
  margin: 80px 0 60px 0;
  padding: 30px 0;
  .testimonial-photo {
    img {
      border-radius: 50%;
      border: 8px solid #eceff2;
    }
  }
  .testimonial-quote, .testimonial-name {
    @include rem(font-size, 14px);
    color: #7b8da5;
  }
}
.testimonial-quote {
  position: relative;
  margin-top: 40px;
  max-width: 350px;
}
.testimonial-name {
  text-align: left;
  margin: 30px 0 0 30px;
}
.quotemarks {
  float: left;
  font-family: georgia;
  line-height: 1;
  color: #d2dbe1;
  padding-right: 5px;
  @include rem(font-size, 36px);
}
